
#modal-drop .modal-content {
    text-align: center;

    font-family: Verdana;
    font-variant: all-petite-caps;
    font-weight: bold;
}

#modal-drop #modal-drop-main {
    font-size: 28px;
}

#modal-drop #modal-drop-sub {
    font-size: 24px;
    color: #afafaf;
}

#modal-drop * {
    pointer-events: none;
}
