
#drop-area {
    border: 2px solid darkgrey;
    background-color: lightgrey;

    width: 300px;
    height: 100px;

    text-align: center;
    vertical-align: middle;
    min-height: 10em;
    display: table-cell;
}

#drop-area.drag {
    border: 2px solid orange;
    background-color: beige;
}

#drop-area .on-drag {
    display: none;
}
#drop-area.drag .no-drag {
    display: none;
}
#drop-area.drag .on-drag {
    display: initial;
    color: orange;
}